@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PollResult</title>
    <link rel="Stylesheet" href="../../Content/demo.css" />
</head>
<body>
    <div id="votecontainer">
        <p class="welcome">PubNub ePoll Results</p>
        
        @if (ViewData["PollAnswer"] != null && ViewData["AnswerCount"] != null)
        {
            List<string> pollAnswers = ViewData["PollAnswer"] as List<string>;
            Dictionary<string, double> dictionaryAnswer = ViewData["AnswerCount"] as Dictionary<string, double>;

            foreach (KeyValuePair<string, double> item in dictionaryAnswer)
            {
                <div>
                @Html.Label(item.Key, new { @class = "pollresult-left" }) = 
                @String.Format("{0}%", PercentFormat(item.Value))
                @Html.Label("  ")
                @Html.Label("(")
                @Html.Label(pollAnswers.Where(s => s == item.Key).Count().ToString())
                @Html.Label(" votes)")
                </div>

            }
        }
        else
        {
            <div class="error">
            @Html.Label("Technical problem occured. Please try again later.");
            </div>
        }
        
        <p class="thanks">
        @Html.Label("Click ")
        @Html.ActionLink("here", "Welcome", "Poll")
        @Html.Label(" for vote")
        </p>
        
        @functions
        {
            private double PercentFormat(double value)
            {
                return value * (double)100.0;
            }
        }

    </div>
</body>
</html>
