@model WebPoll.Models.PollQuestion

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo ePoll</title>
    <link rel="Stylesheet" href="../../Content/demo.css" />
</head>
<body>
    <div id="votecontainer">
    <p class="welcome">PubNub ePoll</p>
    @using (Html.BeginForm("SaveAnswer", "Poll"))
    {
    <table>
        <tr>
            <td class="question">
                @Html.DisplayFor(model => model.Question)
                @Html.HiddenFor(model => model.Question)
                @Html.HiddenFor(model => model.ID)
            </td>
        </tr>
        <tr>
            <td class="answers">
                @foreach (var answer in Model.AnswerGroup)
                {
                    <div>
                        @Html.RadioButton("PollAnswer", answer)
                        @Html.LabelFor(modelItem => modelItem.AnswerGroup, answer)
                    </div>
                }
            </td>
        </tr>
        <tr>
            <td class="ralign">
                <button name="btnVoteSubmit" id="btnVoteSubmit" value="Submit My Vote">Submit My Vote</button>
            </td>
        </tr>
        
        </table>
    }
    <p></p>
    <div id="divpollresult1">
    @using (Html.BeginForm("PollResult", "Poll", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.ID)
        <button name="btnPollResult" id="btnPollResult" value="View Poll Results">View Poll Results</button>
    }
    </div>
    </div>
</body>
</html>
